* {
    box-sizing: border-box;
  }


body {
    border: 0px;
    margin: 0px;
    background-color: #f1faee;
}

/* iframe {
    margin-top: 5px;
} */

p {
    margin-bottom: 5px;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.common {
    margin-bottom: 5px;
    margin-bottom: 5px;
    background-color: #a8dadc;
    border-color: #a8dadc;
    font-weight: 700;
}

.btn-primary {
    margin-top: 5px;
    background-color: #f4a261;
    border-color: #f4a261
}

.btn-group {
    margin-bottom: 10px;
}

/* Navbar style */
.navbar{
    margin-bottom: 0px;
    background-color: #264653 !important;
    color: white;
}

img {
    width: auto;
    height: 40px;
}

.navbar-brand {
    width: 40%;
    height: 40px;
}


.navbar-text {
    padding-bottom: 0px;
    color: white;
}

.form-control {
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}

 /* Map style */
#map {
width: 90%; 
height: 430px;
border-radius: 10px;
border-width: 5px;
margin-top: 10px;
margin-bottom: 15px;
}

.map-container {
    margin: auto;
}

.map-search {
    margin: 0;
    text-align: -webkit-center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}   
      
.btn-lg {
    background-color: #457b9d;
}

.display-4 {
    font-size: 60px;
}

.lead {
    font-size: 25px;
    font-weight: bolder;
}

.follow {
    font-weight: normal;
}

.map-2 {
    width: 100%;
    max-height: 40px;
    display: inline;
}

@media (max-width: 484px) {

.navbar {
    justify-content: center;
}

.navbar-brand {
    height: 40px;
    width: auto;
}

.ml-auto {
    margin-left: none;
}

}
